<div class="card container" style="width:40%;margin-top:5%">
  <form style="padding: 2%">
    <div class="form-group">
      <h3 style="text-align: center">Reset Password</h3>
    </div>
     <div *ngIf="succMssg" class="alert alert-success" role="alert">
      {{succMssg}}
    </div>
     <div *ngIf="errMssg" class="alert alert-danger" role="alert">
      {{errMssg}}
    </div>
    <div class="form-group">
      <input type="text" class="form-control"  [disabled]="isMailed" id="username" [(ngModel)]="usrname" name="username" aria-describedby="emailHelp" width="30"
             placeholder="Username">
      <div style="padding: 1%">
        <button (click)="sendMail()" class="btn btn-default float-right">Get otp</button>
      </div>
    </div>
    <br>
    <div class="form-group">

      <input type="text" [(ngModel)]="resetData.otp" name="otp" class="form-control" id="otp" placeholder="Otp">
    </div>
    <div class="form-group">

      <input type="password"  [(ngModel)]="resetData.password" name = "pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" (click)="resetPassword()" class="btn btn-primary">Reset Password</button>
  </form>

</div>

